<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta eaque quo neque saepe, fugiat enim
            consectetur pariatur provident. Quas qui voluptates est explicabo corrupti debitis incidunt praesentium,
            ipsa minus quo ab odio molestiae neque magnam reprehenderit sed unde itaque deleniti!</p>
    </div>
</div>