* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTgyNDA4Ni13aWtpbWVkaWEtaW1hZ2Uta293Y2d5c3kuanBn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}

.logo {
    width: 30%;
}